.hero__container {
    display: flex;
    flex-direction: column;    
    align-items: center;
    height: 100vh;    
    padding: 0 80px;
    background-color: $blueOne;
    background-image: url(/images/bg-curvy-desktop.svg);
    background-position: bottom;
    background-repeat: no-repeat;
}