.hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 0 80px;
    background-color: $blueOne;
    background-image: url(/images/bg-curvy-desktop.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;

    .hero__img {

        img {
            max-width: 100%;
            min-width: 20%;
        }
    }

    .hero__heading {
        max-width: 680px;
        min-width: 270px;

        h1 {
            font-size: $xlarge;
            color: $white;
            line-height: 1.4em;
            text-align: center;
        }
    }

    .hero__text {
        max-width: 570px;

        p {
            color: $white;
            font-size: $medium;
            line-height: 1.6em;
            text-align: center;
        }
    }

    .hero__btn {
        button {
            padding: 18px 95px;
            border-radius: 50px;
            color: $white;
            font-weight: $bold;
            background-image: $btnGradient;
            cursor: pointer;
        }
    }
}

@media (max-width: 40.625rem) {
    .hero__container {
        background-image: url(/images/bg-curvy-mobile.svg);
        background-size: contain;
        padding: 30px 30px;
        height: auto;

        .hero__heading {
            margin-bottom: 1.5rem;

            h1 {
                font-size: $large;
            }
        }

        .hero__text {
            max-width: 21.875rem;

            p {
                font-size: $xsmall;
            }
        }
    }
}

.features__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 80px;
    background-color: $blueTwo;
    max-width: 100%;

    .features__grid {
        display: grid;
        place-items: center;
        grid-template-columns: repeat(auto-fill, minmax($auto-grid-min-size, 1fr));
        grid-gap: 1rem;

    }
}