.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 80px;
    background-color: $blueOne;
    background-image: url(/images/bg-curvy-desktop.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;

    .hero__img {

        img {
            max-width: 100%;
            min-width: 20%;
        }
    }

    .hero__heading {
        max-width: 680px;
        min-width: 270px;

        h1 {
            font-size: $xlarge;
            color: $white;
            line-height: 1.4em;
            text-align: center;
        }
    }

    .hero__text {
        max-width: 570px;

        p {
            color: $white;
            font-size: $medium;
            line-height: 1.6em;
            text-align: center;
        }
    }

    .hero__btn {
        button {
            padding: 18px 95px;
            border-radius: 50px;
            color: $white;
            font-weight: $bold;
            background-image: $btnGradient;
            background-position: 0 100%;
            cursor: pointer;

            &:hover {
                background-position: 100% 0;
            }
        }
    }
}

@media (max-width: 40.625rem) {
    .hero {
        background-image: url(/images/bg-curvy-mobile.svg);
        background-size: contain;
        padding: 30px 30px;
        height: auto;

        .hero__heading {
            margin-bottom: 1.5rem;

            h1 {
                font-size: $large;
            }
        }

        .hero__text {
            max-width: 21.875rem;

            p {
                font-size: $xsmall;
            }
        }
    }
}

.features {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 80px;
    background-color: $blueTwo;
    max-width: 100%;

    &__grid {
        display: grid;
        place-items: center;
        grid-template-columns: repeat(auto-fill, minmax($auto-grid-min-size, 1fr));
        column-gap: 2rem;
        text-align: center;
    }
}

.features__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white;

    &__heading h2 {
        font-size: $medium;
        letter-spacing: 0.1em;
    }

    .card__text {
        line-height: 1.2em;
        width: 80%;

        p {
            line-height: 1.2em;
        }
    }
}

@media (max-width: 40.625rem) {
    .card__text {
        width: 100% !important;
    }

    .features {
        margin-top: 100px;
        padding: 0 35px;
    }
}

.works {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 110px;

    &__img {
        width: 50%;

        img {
            width: 90%;
        }
    }

    &__copy {
        width: 50%;

        h2 {
            color: $white;
            font-size: $xlarge;
            font-weight: 700;
            letter-spacing: 0.05em;
            line-height: 1.3em;
        }

        p {
            color: $white;
            font-size: $small;
            font-weight: 500;
            letter-spacing: 0.05em;
            line-height: 1.3em;
        }

        img {
            display: inline;
        }

        a {
            color: $cyanCta;

            &:after {
                content: '';
                height: 1px;
                background: $cyanCta;
                display: block;
                margin-top: 6px;
                width: 165px;
            }
        }
    }
}

@media (max-width: 40.625rem) {
    .works {
        flex-direction: column;
        align-items: center;
        padding: 0 35px;
        
        &__img {            
            width: 100%;
            margin-bottom: 50px;
            img {
                width: 100%;
            }
        }

        &__copy{
            width: 100%;
            text-align: start;
        }
    }
}

.review {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 80px;
    margin-bottom: 250px;

    &__card {
        position: relative;
        padding: 40px 20px;
        background: $blueOne;
        color: $white;
        max-width: 360px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;

        &:first-child:before {
            content: url("/images/bg-quotes.png");
            position: absolute;
            top: -35px;
            left: -10px;
            z-index: -1;
        }

        p {
            font-size: $xsmall;
            line-height: 1.5em;
        }

        h4 {
            font-size: $xxsmall;
            line-height: 2em;
        }

        h5{
            font-size: $xxsmall;
            font-weight: 500;
        }
    }
}
@media (max-width: 40.625rem) {
    .review {
        flex-direction: column;
        align-items: center;
        padding: 35px;
        
        &__card{
            margin-left: 0;
            margin-bottom: 20px;
        }
    }
}

.subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 855px;
    margin-top: -180px;
    padding: 70px;
    border-radius: 15px;
    background-color: $blueOne;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

    h2 {
        color: $white;
        font-size: $xlarge;
        font-weight: 700;
        letter-spacing: 0.05em;
        line-height: 1.3em;
    }

    p {
        color: $white;
        font-size: $xsmall;
        line-height: 1.1em;
        text-align: center;
        padding: 0 30px;
    }

}
@media (max-width: 40.625rem) {
    .subscribe {
        width: 340px;
        padding: 20px;
        
        h2{
            font-size: $large;
        }

        p{
            padding: 0;
        }
    }
}

form#signup {
    display: flex;

    input#email {
        padding: 15px;
        min-width: 250px;
        width: 450px;
        border-radius: 50px;
        border: none;
        margin-right: 20px;
    }

    button#submit {
        padding: 15px 33px;
        border-radius: 50px;
        border: none;
        color: $white;
        font-size: $xsmall;
        font-weight: $bold;
        background-image: $btnGradient;
        background-position: 0 100%;
        cursor: pointer;
        text-align: center;
    }
}

@media (max-width: 40.625rem) {

    form#signup {
        flex-direction: column;
        align-items: center;        
    }
    input#email {
        width: 300px !important;
        min-width: 200px !important;
        margin-right: 0 !important;
        margin-bottom: 20px;
    }
    button#submit {
        width: 300px;
    }
}


.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 90px;
    background-color: $blueThree;

    .logo-wrapper {
        display: flex;
        width: 100%;
    }

    .content-wrapper {
        display: flex;
        width: 100%;

        .content--description {
            display: flex;
            width: 35%;

            .content--description-img {
                img {
                    width: 26px;
                }
            }

            p {
                color: $white;
                font-size: $xsmall;
                line-height: 1.1em;
            }
        }

        .content--contact {
            width: 17.5%;

            a {
                color: $white;
                font-size: $xsmall;
                line-height: 1.1em;
                display: block;
            }
        }

        .content--menu {
            width: 30%;
            display: flex;
        }

        .content--social {
            width: 17.5%;
        }

        .content--social {
            display: flex;
            justify-self: end;
            align-items: flex-start;

            img {
                width: 37%;

                &:not(:first-of-type) {
                    margin-left: 13px;
                }
            }
        }
    }
}

@media (max-width: 43.75rem) {
    .footer{
        padding: 0 35px;
        margin-bottom: 0;
    }

    .content-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .content--description{
        width: 100% !important;
        margin-right:  0;
        margin-bottom: 45px;
        
        p{
            font-size: $small !important;
        }
    }
    .content--contact{
        width: 100% !important;
        margin-right:  0;
        padding-left: 28px;
        margin-bottom: 45px;

        a{
            font-size: $small !important;
        }
    }
    .content--menu{
        flex-direction: column;
        width: 100% !important;
        margin-right:  0;
        padding-left: 28px;
        margin-bottom: 45px;

        a{
            font-size: $small !important;
        }

        .footer--menu-one{
            margin-bottom: 30px;
        }
  
    }
}
@media (max-width: 43.75rem) {
.footer .content-wrapper .content--social img{
    width: 100%;
    margin-right: 20px;
}
}

.footer--menu-one li a,
.footer--menu-two li a {
    color: $white;
    font-size: $xsmall;
    line-height: 1.1em;

    &:hover {
        color: $cyanCta;
    }
}

.footer--menu-one li:not(:first-of-type),
.footer--menu-two li:not(:first-of-type) {
    margin-top: 22px;
}

.att {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: $white;
    font-size: $xsmall;

    a {
        color: $white;
        text-decoration: underline;
    }
}