html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 1;    
}

body {
    height: 100%;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;  
}

p {
    line-height: 0;
}

a,
a:visited,
a:hover {
    text-decoration: none;
}

.wrapper {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;    
}

// Hide element while making it readable for screen readers
.hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

// Frontend Mentor
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
