.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 70px 80px;
    background-color: $blueOne;

    img {
        width: 175px;
        height: 50px;
    }
}

nav {
    ul {
        list-style: none;

        li {
            display: flex;
            text-decoration: none;
        }

        a.header__link {
            font-size: $xsmall;
            letter-spacing: 0.1em;
            color: $white;
            transition: color 200ms ease-in-out;

            &:hover {
                color: $cyanCta;
            }
        }
    }
}

@media (max-width: 43.75rem) {
    .header__container {
        padding: 20px 20px;

        img {
            width: 75px;
            height: 25px;
            margin-top: 0.25rem;
        }

        a.header__link {
            margin-left: 1.375rem;
        }
    }
}