//Credit: https://gist.github.com/furey/aa886e3117f103af6046fc1978d5ca09

$sizeUnit: rem;
$marginKey: 'm';
$paddingKey: 'p';
$separator: '-';
$sizes: (('none', 0),
    ('xxs', 0.125), //2px
    ('xs', 0.25), //4px
    ('sm', 0.5), //8px
    ('md', 1), //16px
    ('mdl', 1.5), //24px
    ('lg', 2), //32px
    ('xl', 3), //48px
    ('xxl', 4), //64px
);
$positions: (('t', 'top'),
    ('r', 'right'),
    ('b', 'bottom'),
    ('l', 'left'));

@function sizeValue($key, $value) {
    @return if($key=='none', 0, $value + $sizeUnit);
}

@each $size in $sizes {
    $sizeKey: nth($size, 1);
    $sizeValue: nth($size, 2);

    .#{$marginKey}#{$separator}#{$sizeKey} {
        margin: sizeValue($sizeKey, $sizeValue);
    }

    .#{$paddingKey}#{$separator}#{$sizeKey} {
        padding: sizeValue($sizeKey, $sizeValue);
    }

    @each $position in $positions {
        $posKey: nth($position, 1);
        $posValue: nth($position, 2);

        .#{$marginKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
            margin-#{$posValue}: sizeValue($sizeKey, $sizeValue);
        }

        .#{$paddingKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
            padding-#{$posValue}: sizeValue($sizeKey, $sizeValue);
        }
    }
}