//Colors
$blueOne: hsl(217, 28%, 15%);
$blueTwo: hsl(218, 28%, 13%);
$blueThree: hsl(216, 53%, 9%);
$blueFour: hsl(219, 30%, 18%);
$cyanCta: hsl(176, 68%, 64%);
$blueCta: hsl(198, 60%, 50%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

//Font Sizes
$xxsmall: 0.75rem; //12px
$xsmall: 0.875rem; //14px
$small: 1rem; //16px
$medium: 1.125rem; //18px
$large: 1.375rem; //22px

//Font Weights 
$regular: 400;
$bold: 700;
